* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-size: 2em;
  font-family: sans-serif;
  color: #fff;
  background-color: #202028;
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
}

#score {
  margin: 0 10px;
}

canvas {
  border: .2em solid #fff;
  height: 80vh;
}

.cover {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.countdown {
  position: relative;
  width: 3em;
  height: 3em;
  display: inline-block;
  overflow: hidden;
}

.countdown-timer {
  width: 1em;
  font-size: 3em;
  /* line-height: 0em; */
  position: absolute;
  animation: count 3s steps(3);
  animation-fill-mode: forwards;
}

@keyframes count {
  0% {
    bottom: 0;
  }
  100% {
    bottom: -3.5em;
  }
}